form {
    border: 5px solid #edd946f0;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #08e795c4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .footer
{
	position:absolute;

	margin:auto;
	width:99%;
	height:100px;
	text-align:left;
	font-size:30px;
	background-color:#edd946f0;

}
 
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  nav .logo{
    width: 50px;
    color: #edd946f0;
    font-size: 20px;
  }
  
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 80px;
    font-size: 20px;
  }

  
  nav ul li a{
    text-decoration: none;
    color: #edd946f0;
    font-weight: 17px;
  }
  