*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to bottom, rgb(0, 0, 0), black, black, black, black, black, black, black, black, black, #585857)
}

.hero2 .videocontainer{
  height:760px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.videocontainer .bg-img{
  position: relative;
  width: 100vw;
  overflow: hidden;
}
.home ul li :hover {
  opacity: 0.6;
}


.hero2 nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero2 nav .logo{
  width: 50px;
  color: #ffb731;
  font-size: 20px;
}


.hero2 nav .category li{
  list-style: none;
  display: inline-block;
  margin-left: 80px;
  font-size: 20px;
}

.hero2 nav .category li a{
  text-decoration: none;
  color: #edd946f0;
}
.footer
{
	position:absolute;

	margin:auto;
	width:100%;
	height:100px;
	text-align:left;
	font-size:30px;
	background-color:#edd946f0;

}

.hero2 .containers{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
  height: 50vh;
  color: black;
  z-index: 1;
}

.hero2 .box{
  position: relative;
  border: 2px solid rgb(156, 27, 31);
  width: 230px;
  height: 330px;
  margin: 25px; 
  cursor: pointer;

}
.main-container{
  position: relative;
  margin-top: 100px;
  overflow: hidden;
}
.main-container .products{
  position: absolute;
  display: inline-block;
  left: 93px;
  font-size: 30px;
  padding-bottom: 10px;
  overflow: hidden;
  color: #edd946f0;
}

.main-container .containers img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.containers
{
margin-bottom: 30px;
}


